.browse-filter{
    display: flex;
    ul{
        display: flex;
        li{
            margin-right: 2rem;
            transition: text-decoration .5s ease-out;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    
}